# dependencies
/node_modules
/.pnp
.pnp.js

node_modules
packages/*/node_modules
apps/*/node_modules
.next

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# other lockfiles that's not pnpm-lock.yaml
package-lock.json
yarn.lock

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# vscode
.vscode

# intellij
.idea

dist/**
/dist
packages/*/dist

.turbo
/test-results/
/playwright-report/
/playwright/.cache/
.vs/novel-lightweight/FileContentIndex/27bffc63-61c6-4222-b4ff-88981cdd7440.vsidx
.vs/novel-lightweight/FileContentIndex/9f5e22e8-9f8f-4887-803c-f0a2f5ceda55.vsidx
.vs/novel-lightweight/FileContentIndex/f4aa78a6-680e-46c6-82a6-83b86e3d1d2f.vsidx
.vs/slnx.sqlite
